body {
	font-family: "Helvetica", "Arial", sans-serif;
	max-width: 700px;
	margin: 80px auto;
	line-height: 1.6;
}

h1 {
	font-family: "Optima", "Times New Roman", "Times", serif;
	font-weight: 400;
}
